$color_a: #f3f3f3
$color_b: #1b191a
$color_c: #ac2a2c
$color_d: #70da00
$color_c_2: #801f22
$color_d_2: #448300
$transition-duration: 0.5s

@font-face
  font-family: "android"
  src: url("../fonts/Android Insomnia Regular.ttf")

html
    margin: 0
    padding: 0

body
    margin: 0
    padding: 0
    background-color: $color_a
    color: $color_b
    width: 100%
    overflow-x: hidden
    font-family: 'Fira Sans', sans-serif

.wrapper-img
    margin: 0
    padding: 0
    display: flex
    align-items: center
    justify-content: center

    img
        margin: 0
        padding: 0
        width: 100%
        height: 100%

p
    font-size: 18px

    &.small
        font-size: 16px

.hide
    display: none !important

a
    text-decoration: none
    color: $color_b
    cursor: pointer

.regular-width
    width: 90%
    max-width: 1300px
    margin: 0 auto

.title, h1, h2, h3, h4, h5, h6, .btn
    font-family: "Android", serif

h1
    font-size: 50px
    color: $color_d_2