.btn
    &.cta
        background-color: $color_b
        color: $color_a
        padding: 15px 40px
        display: inline-block
        border: 2px solid $color_b
        transition-duration: $transition-duration
        font-weight: bold

        &:hover
            background-color: rgba($color_b, 0)
            color: $color_b
