.hero

    .content
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        max-width: 850px
        margin-top: 50px

        .text
            width: 60%

            h1
                margin: 0

            .separator
                width: 50px
                height: 5px
                background-color: $color_b
                display: inline-block
                margin: 30px 0

            p
                margin: 0

            .btn.cta
                margin-top: 30px

        img
            width: 30%
            height: auto

    .bg
        position: absolute
        top: 0
        left: 0
        width: 100vw
        height: 720px
        z-index: -1
        overflow: hidden

        img
            position: absolute
            top: 0
            right: calc(-1382px + (100vw - 1300px)/2 + (1300px - 850px) + 130px)
            height: 100%
            width: auto
            opacity: 0.7

    @media screen and (max-width: 1450px)
        .bg
            img
                right: calc(-1382px + (90vw - 850px) + 200px)


    @media screen and (max-width: 950px)
        position: relative

        .content

            .text
                width: 100%

            img
                position: absolute
                z-index: -1
                right: 0
                width: 300px
                opacity: 0.5

        .bg
            display: none

    @media screen and (max-width: 550px)
        .content
            img
                display: none