.register
    padding-bottom: 100px

    .content
        padding-bottom: 50px
        text-align: center

        h2, p
            display: inline-block

        h2
            margin-top: 80px
            margin-bottom: 0
        
        form
            display: flex
            align-items: center
            justify-content: center
            margin-top: 30px

            input 
                font-size: 18px
                padding: 15px 40px
                margin: 0
                border: 2px solid $color_c
                transition-duration: calc($transition-duration / 8)

                &[type="text"]
                    border-right: 0

                    &:focus
                        border-right: 0 !important 

                &:focus
                    outline: none
                    border: 4px solid $color_c
                    padding: 13px 38px


        .thanks
            display: none

        a
            display: flex
            align-items: center
            justify-content: center
            width: 90%
            margin: 0 auto

            p
                margin: 0
                padding-top: 20px

            svg
                padding-top: 20px
                margin-left: 15px
                width: 15px
                height: 15px
                fill: $color_c

        @media screen and (max-width: 900px)
            a
                svg
                    display: none

        @media screen and (max-width: 650px)
            a
                p
                    font-size: 14px


        @media screen and (max-width: 550px)
            form
                flex-direction: column

                input
                    width: calc(90% - 80px)