@font-face {
  font-family: "android";
  src: url("../fonts/Android Insomnia Regular.ttf");
}
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  color: #1b191a;
  width: 100vw;
  overflow: hidden;
  font-family: "Fira Sans", sans-serif;
}

.wrapper-img {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-img img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  font-size: 18px;
}
p.small {
  font-size: 16px;
}

.hide {
  display: none !important;
}

a {
  text-decoration: none;
  color: #1b191a;
  cursor: pointer;
}

.regular-width {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

.title, h1, h2, h3, h4, h5, h6, .btn {
  font-family: "Android", serif;
}

h1 {
  font-size: 50px;
}

.header .content {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 650px;
}
.header .content .logo {
  width: 150px;
  height: auto;
}
.header .content .btn.menu {
  display: none;
}
.header .content nav ul {
  display: flex;
}
.header .content nav ul li {
  list-style: none;
}
.header .content nav ul li a {
  padding: 15px;
  font-size: 18px;
  transition-duration: 0.5s;
  margin-left: 25px;
  color: #448300;
}
.header .content nav ul li a:hover:not(.active) {
  color: #70da00;
  font-size: 20px;
}
.header .content nav ul li a.active {
  opacity: 0.5;
  cursor: default;
}
@media screen and (max-width: 650px) {
  .header .content nav {
    position: absolute;
    top: 0;
    right: -300px;
    height: 100vh;
    padding: 0 50px;
    transition-duration: 0.5s;
    background-color: #f3f3f3;
    z-index: 1;
    box-shadow: 0px 0px 14px 2px #ac2a2c;
  }
  .header .content nav.active {
    right: 0px;
  }
  .header .content nav ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  .header .content nav ul li a {
    margin: 0;
    font-size: 30px;
    line-height: 80px;
  }
  .header .content nav ul li a:hover:not(.active) {
    font-size: 32px;
  }
  .header .content .btn.menu {
    display: inline-block;
    background: none;
    border: none;
    transform: rotateZ(-90deg);
    transition-duration: 0.5s;
    position: absolute;
    right: 5vh;
    z-index: 2;
  }
  .header .content .btn.menu.active {
    transform: rotateZ(90deg);
  }
  .header .content .btn.menu svg {
    width: 72px;
    height: 72px;
    fill: rgba(172, 42, 44, 0.5);
  }
}

.hero {
  position: relative;
}
.hero .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 850px;
  margin-top: 50px;
}
.hero .content .text {
  width: 60%;
}
.hero .content .text h1 {
  margin: 0;
}
.hero .content .text .separator {
  width: 50px;
  height: 5px;
  background-color: #1b191a;
  display: inline-block;
  margin: 30px 0;
}
.hero .content .text p {
  margin: 0;
}
.hero .content .text .btn.cta {
  margin-top: 30px;
}
.hero .content img {
  width: 30%;
  height: auto;
}
.hero .bg {
  position: absolute;
  top: 0;
  left: 720px;
  z-index: -1;
  margin-top: -150px;
}
.hero .bg img {
  height: 720px;
  width: auto;
  opacity: 0.7;
}
@media screen and (max-width: 850px) {
  .hero .content .text {
    width: 100%;
  }
  .hero .content img {
    position: absolute;
    z-index: -1;
    right: 0;
    width: 300px;
    opacity: 0.5;
  }
  .hero .bg {
    display: none;
  }
}

.btn.cta {
  background-color: #1b191a;
  color: #f3f3f3;
  padding: 15px 40px;
  display: inline-block;
  border: 2px solid #1b191a;
  transition-duration: 0.5s;
  font-weight: bold;
}
.btn.cta:hover {
  background-color: rgba(27, 25, 26, 0);
  color: #1b191a;
}

/*# sourceMappingURL=styles.css.map */
