@font-face {
  font-family: "android";
  src: url("../fonts/Android Insomnia Regular.ttf");
}
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FBF8F1;
  color: #a09587;
  width: 100%;
  overflow-x: hidden;
  font-family: "Fira Sans", sans-serif;
}

.wrapper-img {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-img img {
  margin: 0;
  padding: 0;
  width: inherit;
  height: inherit;
}

p {
  font-size: 18px;
}
p.small {
  font-size: 16px;
}

.hide {
  display: none !important;
}

a {
  text-decoration: none;
  color: #a09587;
  cursor: pointer;
}

.regular-width {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

.title, h1, h2, h3, h4, h5, h6, .btn {
  font-family: "Android", serif;
}

h1, h2, h3 {
  color: #54BAB9;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 45px;
}

.paralax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.white {
  background-color: white;
}

.color-a {
  background-color: #FBF8F1;
}

.header .content {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 650px;
}
.header .content .logo {
  width: 150px;
  height: auto;
}
.header .content .btn.menu {
  display: none;
}
.header .content nav ul {
  display: flex;
}
.header .content nav ul li {
  list-style: none;
}
.header .content nav ul li a {
  padding: 15px;
  font-size: 18px;
  transition-duration: 0.5s;
  margin-left: 25px;
  color: #54BAB9;
}
.header .content nav ul li a:hover:not(.active) {
  color: #54BAB9;
  font-size: 20px;
}
.header .content nav ul li a.active {
  opacity: 0.5;
  cursor: default;
}
@media screen and (max-width: 700px) {
  .header .content nav {
    position: fixed;
    top: 0;
    right: -400px;
    height: 100vh;
    padding: 0 50px;
    transition-duration: 0.5s;
    background-color: #FBF8F1;
    z-index: 1;
    box-shadow: 0px 0px 14px 2px #9c8860;
  }
  .header .content nav.active {
    right: 0px;
  }
  .header .content nav ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  .header .content nav ul li a {
    margin: 0;
    font-size: 30px;
    line-height: 80px;
  }
  .header .content nav ul li a:hover:not(.active) {
    font-size: 32px;
  }
  .header .content .btn.menu {
    display: inline-block;
    background: none;
    border: none;
    transition-duration: 0.5s;
    position: absolute;
    right: 5vh;
    z-index: 2;
    margin-right: -10px;
  }
  .header .content .btn.menu.active {
    transform: rotateZ(180deg);
  }
  .header .content .btn.menu svg {
    width: 72px;
    height: 72px;
    fill: rgba(156, 136, 96, 0.5);
  }
}

.hero .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 850px;
  margin-top: 50px;
}
.hero .content .text {
  width: 60%;
}
.hero .content .text h1 {
  margin: 0;
}
.hero .content .text .separator {
  width: 50px;
  height: 5px;
  background-color: #a09587;
  display: inline-block;
  margin: 30px 0;
}
.hero .content .text p {
  margin: 0;
}
.hero .content .text .btn.cta {
  margin-top: 30px;
}
.hero .content img {
  width: 30%;
  height: auto;
}
.hero .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 720px;
  z-index: -1;
  overflow: hidden;
}
.hero .bg img {
  position: absolute;
  top: 0;
  right: calc(-1382px + (100vw - 1300px) / 2 + 450px + 130px);
  height: 100%;
  width: auto;
  opacity: 0.7;
}
@media screen and (max-width: 1450px) {
  .hero .bg img {
    right: calc(-1382px + 90vw - 850px + 200px);
  }
}
@media screen and (max-width: 950px) {
  .hero {
    position: relative;
  }
  .hero .content .text {
    width: 100%;
  }
  .hero .content img {
    position: absolute;
    z-index: -1;
    right: 0;
    width: 300px;
    opacity: 0.5;
  }
  .hero .bg {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .hero .content img {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .hero .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .hero .content .text .btn.cta.phantom {
    margin-top: 10px;
  }
}

#footer {
  background-color: #54bab9;
  color: white;
}
#footer a, #footer p, #footer h3 {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}
#footer a {
  margin-top: 10px;
  display: inline-block;
  style: normal;
}
#footer a:hover {
  opacity: 0.5;
}
#footer .content .widgets {
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 50px;
  margin: 0 auto;
}
#footer .content .widgets .widget h3 {
  text-align: center;
}
#footer .content .widgets .widget.logo {
  width: 40%;
}
#footer .content .widgets .widget.logo img {
  width: 100px;
  height: auto;
}
#footer .content .widgets .widget.menu {
  width: 25%;
}
#footer .content .widgets .widget.menu ul {
  margin: 0;
  padding: 0;
}
#footer .content .widgets .widget.menu ul li {
  list-style: none;
  text-align: center;
}
#footer .content .widgets .widget.contact {
  width: 25%;
}
#footer .content .widgets .widget.contact a {
  display: block;
  text-align: center;
}
#footer .content .widgets .widget.contact address {
  font-style: normal;
}
#footer .content .widgets .widget.contact .socials {
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer small {
  text-align: center;
  padding: 20px 0;
  margin: 0;
  display: block;
  opacity: 0.8;
}
#footer small p, #footer small a {
  font-size: 12px;
  display: inline-block;
  margin: 0;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  #footer .content .widgets .widget.logo {
    width: 40%;
  }
  #footer .content .widgets .widget.menu {
    width: 15%;
  }
  #footer .content .widgets .widget.contact {
    width: 35%;
  }
}
@media screen and (max-width: 900px) {
  #footer .content .widgets {
    flex-direction: column;
  }
  #footer .content .widgets .widget.logo, #footer .content .widgets .widget.menu, #footer .content .widgets .widget.contact {
    width: 100%;
    margin-bottom: 20px;
  }
  #footer .content .widgets .widget.logo {
    order: 2;
    text-align: center;
    margin-bottom: 0;
  }
}

.btn {
  cursor: pointer;
  background: none;
  border: none;
}
.btn.cta {
  background-color: #9c8860;
  color: #FBF8F1;
  padding: 15px 40px;
  display: inline-block;
  border: 2px solid #9c8860;
  transition-duration: 0.5s;
  font-weight: bold;
  font-size: 18px;
}
.btn.cta:hover {
  background-color: rgba(160, 149, 135, 0);
  color: #9c8860;
}
.btn.cta.phantom {
  background-color: rgba(160, 149, 135, 0);
  color: #9c8860;
}
.btn.cta.phantom:hover {
  color: #FBF8F1;
  background-color: #9c8860;
  border: 2px solid #9c8860;
}
.btn.category {
  border-bottom: 4px solid rgba(84, 186, 185, 0);
  color: #54BAB9;
  transition-duration: 0.5s;
}
.btn.category.active {
  border-bottom: 4px solid #54BAB9;
}
.btn.category:hover:not(.active) {
  border-bottom: 4px solid rgba(84, 186, 185, 0.5);
}
.btn.cta-link svg {
  width: 30px;
  height: 30px;
  transform: rotateZ(180deg);
  transition-duration: 0.5s;
}
.btn.cta-link:hover p {
  text-decoration: underline;
}
.btn.cta-link:hover svg {
  width: 35px;
  height: 35px;
  transform: rotateZ(270deg);
}
.btn.cta-link.face svg {
  transform: rotateZ(0deg);
}
.btn.cta-link.face:hover svg {
  transform: rotateZ(0deg);
  transform: scale(1.05);
}
.btn.slider svg {
  width: 30px;
  height: 30px;
  transition-duration: 0.5s;
}
.btn.slider:hover svg {
  width: 35px;
  height: 35px;
  transform: rotateZ(270deg);
}
.btn.social {
  padding: 10px 20px;
}
.btn.social svg {
  fill: white;
  width: 15px;
  height: 15px;
}
.btn.social:hover {
  opacity: 0.5;
}

.buy {
  margin-top: 100px;
  padding-top: 80px;
  padding-bottom: 100px;
}
.buy .brand-wrapper .brand {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.buy .brand-wrapper .brand img {
  width: 200px;
  height: auto;
}
.buy .brand-wrapper .brand p {
  width: 100%;
}
.buy .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.buy .content .buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
  width: 100%;
}
.buy .content .buttons button {
  margin-right: 30px;
}
.buy .content .buttons img.loading {
  width: 30px;
  height: auto;
}
.buy .content .products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 50px;
}
.buy .content .products img.loading {
  margin: 0 auto;
  display: block;
  grid-column: 1/5;
  width: 100px;
  height: auto;
}
.buy .content .products .product {
  cursor: pointer;
  opacity: 1;
}
.buy .content .products .product.transparent {
  opacity: 0;
}
.buy .content .products .product .wrapper-img {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.buy .content .products .product .wrapper-img img {
  transition-duration: 0.5s;
}
.buy .content .products .product .wrapper-img .buy-now {
  position: absolute;
  text-align: center;
  width: 40%;
  opacity: 0;
}
.buy .content .products .product:hover .wrapper-img img {
  opacity: 0.3;
}
.buy .content .products .product:hover .wrapper-img .buy-now {
  opacity: 1;
}
.buy .content .products .product p.details {
  margin: 0;
  padding: 0;
}
.buy .content .products .product p.details.code {
  font-size: 14px;
  font-style: italic;
  margin-top: 15px;
}
.buy .content .products .product p.details.name {
  font-size: 18px;
  margin-top: 8px;
  text-transform: capitalize;
}
.buy .content .products .product p.details.price {
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
}
.buy .content .btn.show-products {
  width: 200px;
  margin-top: 50px;
}
@media screen and (max-width: 1000px) {
  .buy .content .products {
    grid-template-columns: repeat(3, 1fr);
  }
  .buy .content .products.collapsed .product:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .buy .content .products {
    grid-template-columns: repeat(2, 1fr);
  }
  .buy .content .products.collapsed .product:nth-child(4) {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  .buy .content .products {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 400px) {
  .buy .content .buttons {
    flex-direction: column;
  }
  .buy .content .buttons button {
    margin: 0;
    margin-bottom: 15px;
  }
}

.new-brands {
  position: relative;
  padding-bottom: 100px;
}
.new-brands .text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: center;
  margin-top: 50px;
  color: #FBF8F1;
  right: 0;
  left: 0;
  font-size: 30px;
}
.new-brands .text h2, .new-brands .text p {
  padding: 0 20px;
}
.new-brands .text h2 {
  background-color: rgba(156, 136, 96, 0.5);
  color: white;
}
.new-brands .paralax-wrapper {
  background-color: #a09587;
}
.new-brands .paralax-wrapper .paralax {
  background-image: url("../imgs/girl-outside.jpg");
  height: 300px;
  opacity: 0.5;
}
@media screen and (max-width: 750px) {
  .new-brands .paralax-wrapper .paralax {
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  .new-brands .paralax-wrapper .paralax {
    height: 500px;
  }
}

.best {
  padding-bottom: 100px;
}
.best .products {
  width: 80%;
  margin: 0 auto;
}
.best .products.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.best .products .loading {
  margin: 0 auto;
  width: 100px;
  height: auto;
}
.best .products .product {
  display: flex;
  align-items: center;
}
.best .products .product .wrapper-img {
  background-color: #FBF8F1;
}
.best .products .product .wrapper-img img {
  width: 300px;
  height: auto;
  opacity: 0.8;
}
.best .products .product .details h2 {
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 0;
  padding: 0 20px;
}
.best .products .product .details h2 + p {
  margin: 0;
  padding: 0 20px;
}
.best .products .product .details button {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 25px 0;
  padding: 0 20px;
}
.best .products .product .details button p {
  line-height: 15px;
}
.best .products .product .details button svg {
  margin-left: 30px;
}
.best .products .product:nth-child(1) {
  justify-content: flex-start;
}
.best .products .product:nth-child(1) .wrapper-img {
  width: 55%;
}
.best .products .product:nth-child(1) .details {
  margin-left: -120px;
}
.best .products .product:nth-child(2) {
  justify-content: flex-end;
  margin-top: -50px;
}
.best .products .product:nth-child(2) .wrapper-img {
  width: 40%;
  order: 1;
}
@media screen and (max-width: 1300px) {
  .best .products {
    width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .best .products .product:nth-child(1) .wrapper-img, .best .products .product:nth-child(2) .wrapper-img {
    width: auto;
  }
  .best .products .product:nth-child(1) .wrapper-img img, .best .products .product:nth-child(2) .wrapper-img img {
    margin: 0 50px;
  }
  .best .products .product:nth-child(1) .details {
    margin-left: 0;
  }
}
@media screen and (max-width: 900px) {
  .best .products .product:nth-child(2) {
    margin-top: 20px;
  }
}
@media screen and (max-width: 670px) {
  .best .products .product {
    flex-direction: column;
  }
  .best .products .product:nth-child(2) .wrapper-img {
    order: 0;
  }
}
@media screen and (max-width: 450px) {
  .best .products .product {
    width: 90%;
    margin: 0 auto;
  }
  .best .products .product:nth-child(1) .wrapper-img img, .best .products .product:nth-child(2) .wrapper-img img {
    margin: 0;
    width: 100%;
    height: auto;
  }
}

.testimonials {
  position: relative;
  padding-bottom: 100px;
}
.testimonials .buttons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100% - 100px);
}
.testimonials .buttons button {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
}
.testimonials .buttons button.back {
  left: 0;
  margin-left: 50px;
}
.testimonials .buttons button.back svg {
  transform: rotateZ(-90deg);
}
.testimonials .buttons button.next {
  right: 0;
  margin-right: 50px;
}
.testimonials .buttons button.next svg {
  transform: rotateZ(90deg);
}
.testimonials .content article {
  display: none;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 50px 0;
  margin: auto;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.testimonials .content article.active {
  display: flex;
}
.testimonials .content article.transparent {
  opacity: 0;
}
.testimonials .content article .titles {
  width: 250px;
  text-align: center;
}
.testimonials .content article .titles h3 {
  font-size: 30px;
  margin-bottom: 0;
}
.testimonials .content article .titles h4 {
  margin-top: 5px;
}
.testimonials .content article .wrapper-img {
  width: 150px;
  height: auto;
  overflow: hidden;
  border-radius: 15px;
}
.testimonials .content article .wrapper-img img {
  width: 100%;
  height: auto;
}
.testimonials .content article .text {
  width: calc(100% - 200px - 250px);
}
@media screen and (max-width: 1200px) {
  .testimonials .buttons button.back {
    margin-left: 25px;
  }
  .testimonials .buttons button.next {
    margin-right: 25px;
  }
}
@media screen and (max-width: 900px) {
  .testimonials .content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .testimonials .content article {
    flex-direction: column;
    width: 100%;
    margin-left: 280px;
    margin-right: 100px;
  }
  .testimonials .content article .wrapper-img {
    position: absolute;
    left: 100px;
    top: 0;
    bottom: 0;
  }
  .testimonials .content article .titles, .testimonials .content article .text {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .testimonials .buttons button.back {
    margin-left: 10px;
  }
  .testimonials .buttons button.next {
    margin-right: 10px;
  }
  .testimonials .content {
    justify-content: center;
  }
  .testimonials .content article {
    width: 80%;
    margin: 0;
  }
  .testimonials .content article .wrapper-img {
    position: initial;
  }
}

.register {
  padding-bottom: 100px;
}
.register .content {
  padding-bottom: 50px;
  text-align: center;
}
.register .content h2, .register .content p {
  display: inline-block;
}
.register .content h2 {
  margin-top: 80px;
  margin-bottom: 0;
}
.register .content form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.register .content form input {
  font-size: 18px;
  padding: 15px 40px;
  margin: 0;
  border: 2px solid #9c8860;
  transition-duration: 0.0625s;
}
.register .content form input:focus {
  outline: none;
  border: 4px solid #9c8860;
  padding: 13px 38px;
}
.register .content .thanks {
  display: none;
}
.register .content a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
.register .content a p {
  margin: 0;
  padding-top: 20px;
}
.register .content a svg {
  padding-top: 20px;
  margin-left: 15px;
}
@media screen and (max-width: 900px) {
  .register .content a svg {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .register .content a p {
    font-size: 14px;
  }
}
@media screen and (max-width: 550px) {
  .register .content form {
    flex-direction: column;
  }
  .register .content form input {
    width: calc(90% - 80px);
  }
}

/*# sourceMappingURL=styles.css.map */
